body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f8;
    margin: 0;
}

/* Center layout */
.container {
    max-width: 450px;
    margin: 60px auto;
    text-align: center;
}

/* Logo */
.logo {
    font-size: 28px;
    margin-bottom: 20px;
}

.logo span {
    color: #28a745;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
}

.black {
  color: black;
}

.green {
  color: #28a745;
}

.donor-btn {
  border: 1px solid #ccc;
  background: white;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* Card */
.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: left;
}

/* Text */
h2 {
    margin-bottom: 5px;
}

.subtext {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Inputs */
label {
    font-size: 14px;
    margin-top: 15px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

/* Toggle buttons */
.toggle-group {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.toggle {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    cursor: pointer;
}

.toggle.active {
    background: #28a745;
    color: white;
    border: none;
}

/* Submit button */
.submit-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #218838;
}
